# Ignore specific files
*.log
.env

# Ignore a directory and its contents
node_modules/
venv/
env/ 
.venv/

# Ignore all files of a certain type
*.pyc

# Ignore image files
*.ppm
*.png

# Database
# db.sqlite3
